[submodule "AccesoADatos"]
	path = AccesoADatos
	url = https://github.com/Code-Monkeys-SL/AccesoADatos.git
[submodule "DataAnalytics"]
	path = DataAnalytics
	url = https://github.com/Code-Monkeys-SL/DataAnalytics.git
[submodule "DesarrolloDeInterfaces"]
	path = DesarrolloDeInterfaces
	url = https://github.com/Code-Monkeys-SL/DesarrolloDeInterfaces.git
[submodule "ProgramacionDeServiciosYProcesos"]
	path = ProgramacionDeServiciosYProcesos
	url = https://github.com/Code-Monkeys-SL/ProgramacionDeServiciosYProcesos.git
[submodule "ProgramacionMultimediaYDispositivosMoviles"]
	path = ProgramacionMultimediaYDispositivosMoviles
	url = https://github.com/Code-Monkeys-SL/ProgramacionMultimediaYDispositivosMoviles.git
[submodule "SistemasDeGestionEmpresarial"]
	path = SistemasDeGestionEmpresarial
	url = https://github.com/Code-Monkeys-SL/SistemasDeGestionEmpresarial.git
